name: Test TypeScript

on:
  push:
    paths:
      - 'TypeScript/**'
      - '.github/workflows/TypeScript.yml'
  pull_request:
    paths:
      - 'TypeScript/**'
      - '.github/workflows/TypeScript.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.x

    - name: Set up dependencies
      working-directory: TypeScript
      run: npm install

    - name: name: Build and test
      working-directory: TypeScript
      run: npm run build && npm test
